<p>product2 works!</p>
<div class="row">
  <div class="col-5">
    <div>
      <br>
      <h2 *ngFor="let product of listProduct">
        <h3>
          <strong>{{product.id}},</strong>
          <strong>{{product.name}},</strong>
          <strong>{{product.price}}</strong>
          <button class="btn btn-warning" (click)="delete()">Delete</button>
        </h3>
      </h2>
    </div>
  </div>
  <div class="col-5">
    <div>
      <form [formGroup]="form" (ngSubmit)="add()" novalidate>
        <label style="color: #1a79bd"><strong>ID:</strong></label><br>
        <p  *ngIf="!form1[('id')]?.touched">Nhập vào đây</p>
        <input type="text" required max="5" formControlName="id"><br>
        <p *ngIf="!form1[('id')]?.valid">Id không được để trống</p>

        <label style="color: #1a79bd"><strong>Name:</strong></label><br>
        <p  *ngIf="!form1[('name')]?.touched">Nhập vào đây</p>
        <input type="text" formControlName="name"><br>
        <p *ngIf="!form1[('name')]?.valid">Tên không được để trống</p>

        <label style="color: #1a79bd"><strong>Price:</strong></label><br>
        <p  *ngIf="!form1[('price')]?.touched">Nhập vào đây</p>
        <input type="text" formControlName="price"><br>
        <p *ngIf="!form1[('price')]?.valid">Giá không được để trống</p>
        <br>
        <button (click)="validNumber()" class="btn btn-warning"[disabled]="!form.valid">Add Product</button>
      </form>
    </div>
  </div>
</div>




