<form [formGroup]="bioSection" (ngSubmit)="callingFunction()" style="text-align: center">
  <h3>Bio Details </h3>

  <label>First name:</label><br>
  <input type="text" formControlName="firstName" value=""><br>
  <label> Last name:</label><br>
  <input type="text" formControlName="lastName" value=""><br>
  <label> Age:</label><br>
  <input type="text" formControlName="age" value=""><br>
  <div formGroupName="stackDetails">
    <h3>Stack Details</h3>
    <label>Stack:</label><br>
    <input type="text" formControlName="stack" value=""><br>
    <label>Experience:</label><br>
    <input type="text" formControlName="experience" value=""><br>
  </div>
  <div formGroupName="address">
    <h3>Address</h3>
    <label>Country:</label><br>
    <input type="text" formControlName="country" value=""><br>
    <label>City:</label><br>
    <input type="text" formControlName="city" value=""><br>
  </div>
  <button class="btn btn-warning" type="submit">Submit Application</button>
</form>
