<p>category works!</p>
<h2>{{category.name | uppercase }}</h2>
<h2>{{category.age | number }}</h2>
<div class="row">
  <div class="col-3">
    <p><strong>Nhập Tên: </strong></p>
    <p><strong>Nhập Tuổi: </strong></p>
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="category.name"><br>
    <input type="number" [(ngModel)]="category.age">
  </div>
</div>
<button class="btn btn-success" (click)="changeName()">Đổi tên</button>
<button class="btn btn-success" (click)="changeAge()">Tăng tuổi</button>
<h2 *ngIf="category.age > 2 then alo1 else alo2"></h2>
<ng-template #alo1><h2 *ngIf="category.age > 10 then alo3 else alo4"></h2></ng-template>
<ng-template #alo3><h2>Lớn hơn 10 tuổi</h2></ng-template>
<ng-template #alo4><h2>Nhỏ hơn 10 tuổi</h2></ng-template>
<ng-template #alo2><h2 *ngIf="category.age < 5 ">Dưới 5 tuổi</h2></ng-template>

<div class="row">
  <div class="col-6">
    <div>
      <select class="form-select" style="width: 100px">
        <option *ngFor="let team of category.team">{{team}}</option>
      </select>
    </div>
  </div>
  <div class="col-6">
    <div>
      <select class="form-select" style="width: 100px">
        <option *ngFor="let team2 of category.team2">{{team2}}</option>
      </select>
    </div>
  </div>
</div>


