<p>category works!</p>
<h2>{{category.name | uppercase }}</h2>
<h2>{{category.age | number }}</h2>
<div class="row">
  <div class="col-3">
    <p><strong>Nhập Tên: </strong></p>
    <p><strong>Nhập Tuổi: </strong></p>
  </div>
  <div class="col-6">
    <input type="text" [(ngModel)]="category.name">
    <input type="number" [(ngModel)]="category.age">
  </div>
</div>
<h2 *ngIf="category.age > 2 then alo1 else alo2"></h2>
<ng-template #alo1><h2 *ngIf="category.age > 10 then alo3 else alo4"></h2></ng-template>
<ng-template #alo3><h2>Lớn hơn 10 tuổi</h2></ng-template>
<ng-template #alo4><h2>Nhỏ hơn 10 tuổi</h2></ng-template>
<ng-template #alo2><h2 *ngIf="category.age < 5 ">Dưới 5 tuổi</h2></ng-template>
<hr>
<div class="row">
  <div class="col-6">
    <div>
      <select class="form-select" style="width: 100px">
        <option *ngFor="let team of category.team">{{team}}</option>
      </select>
    </div>
  </div>
  <div class="col-6">
    <div>
      <ul>
        <li>{{category.team2.sas}}</li>
        <li>{{category.team2.gign}}</li>
        <li>{{category.team2.fbi}}</li>
      </ul>
    </div>
  </div>
</div>


<!--<div>-->
<!--  <select>-->
<!--    <option *ngFor="let team2 of category.team2.fbi">{{team2}}</option>-->
<!--    <option *ngFor="let team2 of category.team2.gign">{{team2}}</option>-->
<!--    <option *ngFor="let team2 of category.team2.sas">{{team2}}</option>-->
<!--  </select>-->
<!--</div>-->

