<p>calu works!</p>
<div id="nhập1">
  <button (click)="change()">Đổi màu 1</button>
  <button (click)="change1()">Đổi màu 2</button>
 <br>
<input type="number" id="number1">
<input type="number" id="number2">
<button class="btn-primary btn" (click)="add()">Cộng</button>
<button class="btn-primary btn" (click)="minus()">Trừ</button>
<button class="btn-primary btn" (click)="multiplication()">Nhân</button>
<button class="btn-primary btn" (click)="division()">Chia</button>
<h2 id="res"></h2>
</div>

