<div class="container" id="alo">
  <div class="row">

    <div class="col-1">
      <a class="navbar-brand" routerLink="/em">Employee</a>
    </div>
    <div class="col-1">
      <a class="navbar-brand" routerLink="/category">Category</a>
    </div>
    <div class="col-1">
      <a class="navbar-brand" routerLink="/color2">Color 2</a>
    </div>
    <div class="col-1">
      <a class="navbar-brand" routerLink="/color">Color</a>
    </div>
    <div class="col-1">
      <a class="navbar-brand" routerLink="/calu">Calu</a>
    </div>
    <div class="col-1">
      <a class="navbar-brand" routerLink="/ar">Article</a>
    </div>
    <div class="col-1">
      <a class="navbar-brand" routerLink="/time">Time</a>
    </div>
    <div class="col-1">
      <a class="navbar-brand" routerLink="/pr">Progress bar</a>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-5"><img width="100%" style="border-radius: 5px"
                            src="https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/p843x403/271547079_2290342404452795_1437164292648074333_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=2yp3YuhPdFUAX8uR5Zu&_nc_ht=scontent.fhan2-3.fna&oh=00_AT_l-l9E6iT8BSHPU_Lf-5UbXGNBLNorkHsnrSFlAQy77g&oe=61E87A01">
    </div>
    <div class="col-7">
      <router-outlet></router-outlet>
    </div>
    <hr style="margin-top: 15px">
    <div class="row">
      <app-name-card cardName="Professional Dev" email="prodev@codegym.vn"
                     phone="0123456789" [age]="1"></app-name-card>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <app-product2></app-product2>
  <app-rattingbar></app-rattingbar>

</div>


