<div class="container">
  <div class="row">
    <div class="col-2">
      <a class="navbar-brand" routerLink="/category">Category</a>
    </div>
    <div class="col-2">
      <a class="navbar-brand" routerLink="/color2">Color 2</a>
    </div>
    <div class="col-2">
      <a class="navbar-brand" routerLink="/color">Color</a>
    </div>
    <div class="col-2">
      <a class="navbar-brand" routerLink="/calu">Calu</a>
    </div>
    <div class="col-2">
      <a class="navbar-brand" routerLink="/ar">Article</a>
    </div>
    <div class="col-2">
      <a class="navbar-brand" routerLink="/time">Time</a>
    </div>
  </div>
  <div class="row">
    <div class="col-5"><img  width="100%" style="border-radius: 5px"
      src="https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/p843x403/271547079_2290342404452795_1437164292648074333_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=2yp3YuhPdFUAX8uR5Zu&_nc_ht=scontent.fhan2-3.fna&oh=00_AT_l-l9E6iT8BSHPU_Lf-5UbXGNBLNorkHsnrSFlAQy77g&oe=61E87A01">
    </div>
    <div class="col-7">
      <router-outlet></router-outlet>
      <hr>
    </div>
  </div>
  <hr>
  <!--  <div class="row">-->
  <!--    <div id="div1" class="col-6">-->
  <!--      <app-product></app-product>-->
  <!--    </div>-->
  <!--    <div id="div2" class="col-6">-->
  <!--      <app-category></app-category>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <hr>-->
  <!--  <div class="row">-->
  <!--    <div class="col-6">-->
  <!--      <app-calu></app-calu>-->
  <!--    </div>-->
  <!--    <div class="col-6">-->
  <!--      <app-color></app-color>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <hr>-->
  <!--  <div class="row">-->
  <!--    <app-color2></app-color2>-->
  <!--  </div>-->
  <!--  <hr>-->
  <!--  <div class="row">-->
  <!--    <div class="col-9">-->
  <!--      <app-article></app-article>-->
  <!--    </div>-->
  <!--    <div class="col-3">-->
  <!--      <app-birthday></app-birthday>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

