<div class="container">
  <hr>
  <div class="row">
    <div id="div1" class="col-6">
      <app-product></app-product>
    </div>
    <div id="div2" class="col-6">
      <app-category></app-category>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <app-calu></app-calu>
    </div>
    <div class="col-6">
      <app-color></app-color>
    </div>
  </div>
  <hr>
  <div class="row">
    <app-color2></app-color2>
  </div>
  <hr>
  <div class="row">
    <div class="col-8">
      <app-article></app-article>
    </div>
    <div class="col-4">
      <app-birthday></app-birthday>
    </div>

  </div>

</div>


