<p>name-card works!</p>
<div class="name-card">
  <div class="name-card__content-left">
    <img src="https://thebank.vn/uploads/2019/12/10/anh2.PNG" alt="Logo" class="name-card__avatar">
  </div>
  <div class="name-card__content-right">
    <h3 class="name-card__heading">{{ cardName }}</h3>
    <p class="name-card__text">{{ email }}</p>
    <p class="name-card__text">{{ phone }}</p>
    <p class="name-card__text">{{ age }}</p>
  </div>
</div>
<button class="btn btn-primary" (click)="voted()">Click to vote</button>
<div>
  <label>Add an item: <input #newItem></label>
  <button (click)="addNewItem(newItem.value)">Add to parent's list</button>
</div>
